@page "/education"

<!-- title -->
<h1 style="text-align: center; font-weight: bold; text-decoration:underline;">EDUCATION AND SKILLS</h1>
<br/>
<!-- SD diploma -->
<h4 style="text-decoration: underline;">Software Development Diploma</h4>
<div>2023 - PRESENT</div>
<a href="https://www.sait.ca" style="color: mediumpurple">Southern Alberta Institute of Technology</a>
<p>Calgary, Alberta</p>
<br />
<!-- HS diploma -->
<h4 style="text-decoration: underline;">High School Diploma</h4>
<div>2023</div>
<a href="https://ourladyoftherockies.cssd.ab.ca" style="color: mediumpurple">Our Lady of the Rockies High School</a>
<p>Calgary, Alberta</p>
<br />
