@page "/experience"

<!-- page title -->
<h1 style="text-decoration:underline; text-align:center; font-weight: bold;">EXPERIENCE</h1>
<br />
<!-- chicken on the way front cashier -->
<h4 style="text-decoration: underline">Front Cashier</h4>
<div>April 2021 – July 2021</div>
<a href="https://www.chickenonthewaycalgary.ca" style="color: mediumpurple">Chicken on the Way</a>
<ul>
    <li>Aided customers in taking their orders and worked with the kitchen to ensure each customer got the right order.</li>
    <li>Maintained the store front tidy by cleaning and restocking items customers needed.</li>
    <li>Helped restock side dishes and drinks to ensure the kitchen could work more efficiently on main dishes.</li>
</ul>
<br />
<!-- gato negro backstage -->
<h4 style="text-decoration: underline">Backstage Production Support and Scenography</h4>
<div>May 2017 – November 2019</div>
<a href="https://gatonegrotheatre.com" style="color:mediumpurple">Gato Negro Spanish Theatre</a>
<ul>
    <li>Worked as a team to create eye-catching set pieces for multiple productions. </li>
    <li>Solved technical problems with set pieces and helped others in the team understand how to address further issues with the parts.</li>
    <li>Ensured actors left the backstage dressed in the appropriate costumes and on time.</li>
</ul>
<br />
<!-- in house dogsitting -->
<h4 style="text-decoration: underline">In-House Dogsitting</h4>
<div>July 2021 - Present</div>
<ul>
    <li>Travelled to client’s homes and took care of their house and dogs while they were away on long trips. </li>
    <li>Maintained a clean, safe environment where the dog could thrive and relax.</li>
    <li>Kept the dog busy with play and enrichment to combat boredom. </li>
</ul>
