@page "/"

<!-- Name -->
<h1 style="font-weight: bold; text-align: center; text-decoration:underline;">Vic Parra</h1>
<br />
<!-- subtitle -->
<p style="text-align: center;">Eager software development student ready to dive into the technological world!</p>
<br/>

<!-- skills -->
<div style="display: flex;">
    <div>
        <!-- skills -->
        <h4 style="text-decoration: underline;">SKILLS</h4>
        <ul>
            <li>Communication</li>
            <li>Problem Solving</li>
            <li>Time Management</li>
            <li>Creativity</li>
            <li>Team Oriented</li>
            <li>Fast Learner</li>
        </ul>
    </div>
    <!-- coding langs -->
    <div style="padding-left: 80px; padding-right: 80px">
        <h4 style="text-decoration: underline;">CODING LANGUAGES</h4>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>C#</li>
            <li>PHP</li>
        </ul>
    </div>
    <!-- spoken langs -->
    <div>
        <h4 style="text-decoration: underline;">LANGUAGES</h4>
        <ul>
            <li>Fluent in English</li>
            <li>Fluent in Spanish</li>
        </ul>
    </div>
</div>