@page "/references"

<!-- page title -->
<h1 style="text-align: center; font-weight: bold; text-decoration: underline;">REFERENCES</h1>
<br />
<!-- reference 1: Marina Murguia-->
<h4 style="text-decoration: underline; font-weight: bold;">Marina Murguia</h4>
<h5>Market Manager | Amazon</h5>
<p>Dogsitting client from 2018 to present day.</p>
<button type="button" class="btn btn-success"><a href="tel:5874386793" style="color: white; text-decoration: none;">Call</a></button>
<br />
<br />
<!-- reference 2: Mayeli Pina-->
<h4 style="text-decoration: underline; font-weight: bold;">Mayeli Pina</h4>
<h5>Guest Services Specialist | Westjet</h5>
<p>Dogsitting client from 2020 to 2023.</p>
<button type="button" class="btn btn-success"><a href="tel:587438679" style="color: white; text-decoration: none;">Call</a></button>


